{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  {% if not errors %}
    <a class="" href="{% url 'admin:logistics_shipment_add' %}" target="_blank" title="{% translate "Add new Shipment" %}">
      <img src="/static/admin/img/icon-addlink.svg" alt="Add"> {% translate "Create New Shipment" %}
    </a>({% translate "refresh page after new shipment has been created" %})
    <br>
    <br>

    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      {% for item in items %}
        <p>
          {% if adjustable_amount %}
            <input type="number" name="amount" value="{{ item.available }}" required min="1" max="{{ item.available }}" />
          {% endif %}
          {{ item }}
        </p>
        <input type="hidden" name="_selected_action" value="{{ item.pk }}" />
      {% endfor %}

      <input type="hidden" name="action" value="assign_to_shipment" />
      <input type="submit" name="apply" value="{% translate "Assign to Shipment" %}"/>
    </form>
  {% else %}
    {% for error in errors %}
      <p style="color: red;">{{ error }}</p>
    {% endfor %}
    {% if errors %}
      <a href="{{request.META.HTTP_REFERER}}">{% translate "Go back" %}</a>
    {% endif %}
  {% endif %}
{% endblock %}
